# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import gmaps 

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'gmaps'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
csv_path = "city_data.csv" 
city_data_df = pd.read_csv(csv_path)

,Unnamed: 0,City,Temperature °F,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Martyush,45.32,91,3,7.52,56.40,61.88
1,1,La Ronge,50.00,61,90,12.75,55.10,-105.28
2,2,Laguna,93.99,19,1,8.05,38.42,-121.42
3,3,Arrondissement d'Ajaccio,53.60,93,74,5.82,42.00,8.92
4,4,Srednekolymsk,43.23,61,99,10.56,67.45,153.68
...,...,...,...,...,...,...,...,...
592,592,Sokoni,77.29,85,1,9.35,-6.43,39.55
593,593,Corinth,66.99,54,2,3.00,37.94,22.96
594,594,Betlitsa,58.50,45,100,9.69,54.01,33.96
595,595,Seoul,59.00,93,1,2.75,37.57,126.98
596,596,Chicama,67.82,66,23,8.66,-7.84,-79.15

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
cordinates = city_data_df[['Latitude','Longitude']]
cordinates

     Latitude  Longitude
0       56.40      61.88
1       55.10    -105.28
2       38.42    -121.42
3       42.00       8.92
4       67.45     153.68
..        ...        ...
592     -6.43      39.55
593     37.94      22.96
594     54.01      33.96
595     37.57     126.98
596     -7.84     -79.15

[597 rows x 2 columns]

In [10]:
figure_layout = {
    'width' : '400px',
    'height' : '300px',
    'border' : '1px solid black',
    'padding' :'1px',
    'margin' : '0 auto 0 auto'
}

fig = gmaps.figure(layout = figure_layout)

NameError: name 'gmaps' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure